.index-videos {
    width: 100%;
    display: block;
    margin-top: auto;
    margin: 0;
    padding: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
}

.indexed-video {
    display: inline-block;
    padding-right: 80px;
}