.index-videos {
    width: 100%;
    position: absolute;
    top: 450px;
    left: 0;
    padding-left: 220px;
}

.indexed-video {
    display: inline-block;
    padding-right: 80px;
    width: 25%;
}

.video_details_title {
    font-size: 15px;
    font-weight: 700;
    font-family: "PBS Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: blanchedalmond;
    position: relative;
    top: -80px;
}

.video_details {
    color: blanchedalmond;
    position: relative;
    top: -80px;
}

.video_play_icon {
    position: relative;
    width: 80px;
    left: 180px;
    top: -150px;
    z-index: 1;
    opacity: 0;
}

.index_video_container:hover .video_play_icon {
    opacity: 0.8;
}
