.index-videos {
    width: 100%;
    position: absolute;
    top: 450px;
    left: 0;
    padding-left: 220px;
}

.indexed-video {
    display: inline-block;
    padding-right: 80px;
}

.video_details {
    color: blanchedalmond;
}