.main-menu {
    background-color: rgb(24, 36, 126);
    width: 200vh;
    height: 70px;
    display: flex;
    justify-content: left;    
    padding-left: 200px;
}

.signin-button {
    padding-top: 14px;
    padding-left: 35px;
}


.menu-taps {
    /* background-color: red; */
    padding: 26px;
    display: inline-block;
    align-items: center;
    font-family: Helvetica;
    font-size: large;
    text-align: center;
    position: relative;
    right: -1000px;
    color: cornsilk;
    width: 100px;
    vertical-align: text-top;
}

.main-menu-on-the-right {
    width: 350px;
    position: absolute;
    right: 90vw;
    z-index: 1;
}

.main-menu-on-the-right li:hover {
    background-color: rgb(55, 73, 207);
}