div {
    display: block;
}

.main-menu {
    background-color: rgb(24, 36, 126);
    align-items: center;
}

header { 
    display: flex;
    height: 34px;
    justify-content: center;
}

.signin-signup{
    font-size: 20px;
    color: yellow;
}
nav ul li {
    display: inline-block;
}
.menu-taps {
    display: inline-block;
    align-items: center;
    text-align: right;
    font-size: 18px;
    position: relative;
    right: -0800px;
    color: cornsilk;
    width: 80px;
    vertical-align: text-top;
}