.modal-container {
    background-color: rgb(34, 34, 34);
    /* width: 90vh; */
    width: 140%;
    height: 80vh;
    /* height: 580%; */
    border: solid 2px rgb(4, 116, 245);
    border-radius: 5px;

}

.signin_button { 
    width: 80px;
    height: 30px;
    margin: 5px;
    border-radius: 30px;
    border: solid 2px black;
    background-color: rgb(24, 36, 126);
    font-size: 13px;
    font-family: Helvetica;
    color: whitesmoke;
    cursor: pointer;
}

.signin_button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(76, 118, 179);
    transition: 0.8s;
}

.signin{
    font-size: 22px;
    color: whitesmoke; 
    position: relative;
    left: 85px; 
    top: 100px;
    background-color: rgb(24, 36, 126);
    border-radius: 10px;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.signup {
    color: rgb(89, 131, 194);
    font-size: 18px;
    position: relative;
    left: 125px; 
    top: 120px;

}