.show-bck-img{
    position: absolute;
    width: 1480px;
    height: 800px;
    top: 400px; 
    filter: blur(3px) brightness(20%);
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}