.signin_button {
    width: 80px;
    height: 30px;
    margin: 5px;
    border-radius: 30px;
    border: solid 2px black;
    background-color: rgb(24, 36, 126);
    font-size: 13px;
    color: whitesmoke;
}

.signin{
    font-size: 13px;
    color: whitesmoke; 
}